nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
}

nav a {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

nav a:hover {
  color: #898989;
  text-decoration: underline;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (prefers-color-scheme: dark) {
  nav a {
  color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
  }
}